* {
    margin: 0;
    padding: 0;
}

#canvasWrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myCanvas {
    border: 0.8px solid #413F42;
    border-radius: 2.5%;
}